/* ═══════════════════════════════════════════
   KOBLLUX PARTICLES LAYER
═══════════════════════════════════════════ */
/*
body{
  position:relative;
  overflow-x:hidden;
}

#universe-viewport{
  position:relative;
  z-index:2;
}*/

#particles-js{
  position:fixed;
  inset:0;
  width:100%;
  height:100%;
  z-index:0;
  pointer-events:none;
  opacity:.85;
}
/*
.screen-panel,
header,
#nav-indicator,
#modal-overlay,
#player-overlay{
  position:relative;
  z-index:2;
}
*/
/* brilho suave */

#particles-js canvas{
  filter:
    drop-shadow(0 0 4px #00ffff66)
    drop-shadow(0 0 12px #ff00ff22);
}