

[Unit]

Description=KOBLLUX Operator


[Service]

WorkingDirectory=/root/KOBLLUX

ExecStart=/usr/bin/python3 webhook/main.py

Restart=always



[Install]

WantedBy=multi-user.target


