
 
.blob {
  position: absolute;
  width: 69vw;
  height: 69vh;
  border-radius: 50%;
  filter: blur(87px);
  opacity: 0.078;
  pointer-events: none;
}

.blob-1 {
  background: var(--kob-voice-primary);
}

.blob-2 {
  background: var(--kob-voice-secondary);
}
  
